*{
    margin:0;
    padding:0;
}
#header{

    height: 128px;
    background:url(imgs/head_bg.jpg)repeat-x;
}
#header .header1 .li1 a{
    float: left;
    display:block;
    width: 120px;
    height: 70px;
    text-align:center;
  
   
}
#header ul{
    list-style: none;
 
  
}
#header .header1 ul a{
    /* float: left; */
  
    height: 70px;
    line-height:70px;
   
   
}
#header .header1 .li1 a{
    text-decoration: none;
    color:white;
}
#header .header1 a:hover,#header .header1 a:active{
    color:red;
    background:white;
}
#header .header1 ul .header2{
    margin:0 auto;
   background:url(imgs/logo.png)no-repeat;
   width: 178px;
   height: 118px;
   padding:0 0 0 520px;
   
}
#header .header1 ul .li1{
    padding-left:518px;
}
#header .header1 ul .header{
       margin-right:313px;
     

}

 
#center{
   width: 980px;
   height: 716px;
   margin-left:310px;
   background: #EC6E47;
}
#center #datu{
    background: white;
    width: 910px;
    height: 327px;
    margin-top:5px;
    margin-left:35px;
    position: relative;
}
#center #datu .tu1{
      background: red;
      width: 277px;
      height: 169px;
      margin-top:7px;
      margin-left:7px;
      position: absolute;

}
#center #datu .tu1 span a{
    display: block;
    width: 115px;
    height: 169px;
    background: #242424;
    float:right;
    text-align: center;
    line-height:169px;
    text-decoration: none;
    color:white;
}
#center #datu .tu1 span a:hover,#center #datu .tu1 span a:active{
background:white;
color:red; 
}

#center #datu .tu2{
    position:absolute;
    background: red;
    width: 277px;
    height: 137px;
    margin-top:183px;
    margin-left:7px;
}
#center #datu .tu2 span a{
    display: block;
    width: 115px;
    height: 137px;
    background: #242424;
    float:right;
    text-align: center;
    line-height:137px;
    text-decoration: none;
    color:white;
}
#center #datu span a:hover,#center #datu span a:active{
    background: white;
    color:red;
}
#center #datu .tu3{
   position: absolute;
   background: #242424;
   width: 280px;
   height: 117px;
   margin-top:7px;
   margin-left:290px;
}
#center #datu .tu3 span a{
    display: block;
    width: 115px;
    height: 117px;
    text-align:center;
    line-height:116px;
    float: right;
    text-decoration:none;
   color:white;
}
#center #datu span a:hover,#center #datu span a:active{
    background: white;
    color:red;
}
#center #datu .tu4{
    position: absolute;
    width: 280px;
    height: 188px;
    background:red;
    margin-top:133px;
    margin-left:290px;
}
#center #datu .tu4 span a{
    display: block;
    width: 118px;
    height: 188px;
    text-decoration:none;
    text-align:center;
    line-height:188px;
    float: right;
    background: #242424;
    color:white;
}
#center #datu span a:hover,#center #datu span a:active{
    background: white;
    color:red;
}
#center #datu .tu5{
    position:absolute;
    width: 327px;
    height: 313px;
    background: red;
    margin-top:7px;
    margin-left:576px;
    background: #242424;
}
#center #datu .tu5 span a{
display: block;
width: 122px;
height: 313px;
text-decoration: none;
text-align:center;
line-height:313px;
color:white;
float: right;

}
#center #datu .tu5 span a:hover,#center #datu .tu5 span a:active{
    background:white;
    color:red; 
    }
  #zhongjian{
      width: 980px;
      height: 80px;
      margin-left:310px;
  }  
  #zhongjian1{
    width: 980px;
    height: 45px;
    margin-left:310px;
    /* background: #000; */
} 
#zhongjian1 .zhongjian2{
    width: 258px;
    height: 45px;
    background: #EA6C46;
    text-align:left;
}
#zhongjian1 .zhongjian2 p{
    font-size:22px;
    line-height:45px;
    height: 45px;
    text-align:center;
    color:white;
}
#foot{
    width: 980px;
    height: 357px;
    background: white;
    margin-left:310px;
    border:1px solid #DCD2BA;
    /* position:relative; */
}
#foot .foot1{
    /* position:absolute; */
    width: 229px;
    height: 330px;
    border:1px solid #DCD2BA;
    margin-top:15px;
    margin-left:20px;
    margin-right:6px;
    float:left;
}
#foot .foot2{
    /* position:absolute; */
    width: 229px;
    height: 330px;
    border:1px solid #DCD2BA;
    margin-top:15px;
    margin-left:6px;
    float:left;
}
#foot .foot3{
    width: 229px;
    height: 330px;
    border:1px solid #DCD2BA;
    margin-top:15px;
    margin-left:6px;
    float:left;
}
#foot .foot4{
    width: 229px;
    height: 330px;
    border:1px solid #DCD2BA;
    margin-top:15px;
    margin-left:6px;
    float: left;
}
#foot img{
    border:1px solid #DCD2BA;
}
#foot .foot1 p,#foot .foot2 p,#foot .foot3 p,#foot .foot4 p{
    font-size:23px;
    color:#7A7A7A;
    line-height:66px;
    text-align:center;
    font-family:"微软雅黑";
}
#foot .foot1 .foot5,#foot .foot2 .foot5,#foot .foot3 .foot5,#foot .foot4 .foot5{
    width: 200px;
    height: 38px;
    background: #F3734E;
    margin:0 auto;
}
#foot .foot1 .foot5  span a,#foot .foot2 .foot5 span a,#foot .foot2 .foot5 span a,#foot .foot3 .foot5 span a,#foot .foot4 .foot5 span a{
    width: 154px;
    display:block;
    height: 38px;
    background:#F3734E;
    float: right;
    text-decoration: none;
    line-height:38px;
    text-align:center;
    color:white;
}
#foot .foot5 img{
    border: none;
}
#foot .foot1 .foot5  span a:hover,#foot .foot1 .foot5 span a:active,
#foot .foot2 .foot5  span a:hover,#foot .foot2 .foot5 span a:active,
#foot .foot3 .foot5  span a:hover,#foot .foot3 .foot5 span a:active,
#foot .foot4 .foot5  span a:hover,#foot .foot4 .foot5 span a:active{
    /* background: white; */
    color:skyblue;
}
#weibu{
    margin-top:66px;
    height: 152px;
    width: 100%;
    background: #000;
}
#weibu .weibu1{
    color:white;
    padding-top:54px;
    text-align:center;
}
#weibu .weibu2{
    color:white;
    padding-top:5px;
    text-align:center;
}